.relogio{
    margin:0 auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 550px;
    height: 200px;
    background: transparent;
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.8);
}

.relogio div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 170px;
    width: 150px;
    background: rgba(5, 5, 5, 0.9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    letter-spacing: 3px;
}

.relogio span{
    font-size:25px ;
}

.relogio span.tempo{
    font-size: 20px;
}

.relogio-itens{
    overflow: hidden;
    width: 100%;
}

